$tokens:(
  config: (
    output: "./src/config/_tokens.scss"
  ),
  animate: (
    ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
    ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1),
    animate-scss-speed: 0.75s,
    animate-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
  ),
  version: "0.2.3",
  cdn: "https://cdn.jsdelivr.net/gh/CityOfNewYork/nyco-patterns-framework@v0.2.3/dist/"
);
