@charset 'utf-8';

/***********************
 * Asset Paths and CDN
 ***********************/

// This is the path to your asset folders. Uncomment and set to override the
// default. By default, it is set to look for assets one director up from the
// distributed.
// stylesheet '../' ex;
// $cdn: 'path/to/assets/';

// The CDN can be set to another local path, or, it can be set to the 'cdn'
// within the $variables map. This default uses jsDelivr to pull the assets
// from the patterns GitHub repository and the tag of the installed version.
// ex;
// @import 'config/variables';
// $cdn: map-get($variables, 'cdn');

// These are the default paths to the different asset types within the asset
// folder. Uncomment and set to override their defaults.
// $path-to-fonts: 'fonts/';
// $path-to-images: 'images/';
// $path-to-svg: 'svg/';

@import 'utilities/spinner/spinner';
@import 'utilities/toggle/toggle';
@import 'utilities/tailwind/tailwind';